body {
  background-color: #282c34;
  color: #fff;
}

.generator {
  display: flex;
}

.titles div {
  display: flex;
  align-items: center;
  height: 24px;
  margin-left: 20px;
}

.btn {
  width: 50px;
  margin: 20px auto;
}
